[project]
name = "stock-stats"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
    "numpy>=2.2.6",
    "pandas>=2.3.3",
    "python-decouple>=3.8",
    "streamlit>=1.52.1",
    "yfinance>=0.2.66",
]
